a, a:visited, a:hover, a:active {
	color: inherit;
  }

body{
    margin: 0px 0px;
}

p{
    margin: auto 10px;
}

h1, h2, h3, h4{
    margin: 5px 10px;
    text-align: center;
}

* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(238, 1, 1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#logo-text{
  background-image: linear-gradient(90deg, blue, white);
  -webkit-background-clip: text;  /* Added for browsers that require webkit prefix to function */
  background-clip: text;
  color: transparent;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  animation: glitch 3s 1s infinite;
}

/* keyframes for logo text */
@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

/* Query targeting small phones and tablets */
@media screen and (max-width: 700px){

	#navcontainer{
		position: -webkit-sticky; /** webkit for Safari browser **/
		position: sticky;
		top: 0;
		background:rgba(41, 56, 104, 0.925);
    z-index: 1;
	}

	#navcontainer ul{
		list-style-type: none;
        height: 50px;
        text-align: center;
        padding-top: .75rem;
        text-transform: uppercase;
	}
	#navcontainer li{
		color: white;
		display: inline;
		margin-right: 30px;
	}

	#navcontainer a{
		text-decoration: none;
	}

  h2{
      background: rgb(41, 56, 104);
      border-radius: 20px;
      color: rgb(255, 255, 255);
      margin: 10px 50px;
    }

}

/*Query targeting tablets and larger devices */
@media screen and (min-width: 701px){
	#logo{
		width: 100%;
		height: auto;
		float: right;
		padding-left: 250px;
		display: none;
	}
	
}

@media screen and (min-width: 1024px){
	
	.dd-content a:hover{
		background-color: aqua;
	}

  .slideshow-container{
    display: none;
  }

  .dot{
    display: none;
  }
}