/* Implemented to prevent FA icons from not displaying properly */
i{ font-family: 'FontAwesome' }

a, a:visited, a:hover, a:active {
	color: inherit;
  }

p{
    margin: auto 20px;
    text-align: center;
}

body{
  margin: 0px 0px;
  background: #dacec1;
}

h1, h2, h3, h4{
    margin: 20px 10px;
    text-align: center;
}

* {box-sizing:border-box}

footer{
  text-align: center;
  background-color:rgb(41, 56, 104);
  color: white;
}

/* "Logo" text" */
#logo-text{
  background-image: linear-gradient(90deg, blue, white);
  -webkit-background-clip: text;  /* Added for browsers that require webkit prefix to function */
  background-clip: text;
  color: transparent;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  animation: glitch 2s 1s infinite;
}

/* keyframes for logo text */
@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
} 

/* First slideshow styles */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(238, 1, 1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Second slideshow styles */
.slideshow-container2 {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.mySlides2 {
  display: none;
}


.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(238, 1, 1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev2:hover, .next2:hover {
  background-color: rgba(255, 255, 255, 0.8);
}


.text2 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2, .dot2:hover {
  background-color: #717171;
}

/* Mobile layout */
@media screen and (max-width: 1023px){
	
  #navcontainer{
		top: 0;
		background:rgba(41, 56, 104, 0.925);
    z-index: 1;
    display: none;
    min-width: 25%;
    position: absolute;
    border-radius: 25px;
    box-shadow: 0 2px 5px 0p rgba(0, 0, 0, .1);
    top: 25px;
    left: 30px;
  }

	#navcontainer ul{
		list-style-type: none;
	}
	#navcontainer li{
		color: white;
    margin-top: 30px;
	}

  #navcontainer li:nth-child(2n - 1){
    color: #f8dfc0
  }
  #navcontainer li:last-child{
    margin-bottom: 30px;
  }

	#navcontainer a{
		text-decoration: none;
	}

  .fa.fa-bars{
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 30px;
    background-image: linear-gradient(blue, white);
    -webkit-background-clip: text;  /* Added for browsers that require webkit prefix to function */
    background-clip: text;
    color: transparent; 
    display: inline;
  }

  .fas.fa-times{
    position: absolute;
    cursor: pointer;
  }
    
  h2{
    background: rgb(41, 56, 104);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    margin: 20px 50px;
  }


}

/* Desktop layout */
@media screen and (min-width: 1024px){

	#navcontainer{
    display: block;
		position: -webkit-sticky; /** webkit for Safari browser **/
		position: sticky;
		top: 0;
		background:rgba(41, 56, 104, 0.925);
    z-index: 1;
    font-size: 12px;
    width: 100%;
	}

	#navcontainer ul{
		list-style-type: none;
    height: 50px;
    text-align: center;
    padding-top: 1rem;
    text-transform: uppercase;
    margin-top: 0px;
	}
	#navcontainer li{
		color: white;
		display: inline;
		margin-right: 20px;
	}

	#navcontainer a{
		text-decoration: none;
	}

  .fa.fa-bars{
    display: none;
  }

  .fas.fa-times{
    display: none;
  }
}